.location-card{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #f9fafb;
    padding: 15px;
    border-radius: 10px;
}

.location-title{
    display: flex;
    gap: 15px;
}

.location-title-text{
    display: flex;
    flex-direction: column;
}